body {
    ont-family: 'Heebo', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.background-image {
    background-image: url(images/donation10.jpg);
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
    background-size: 70%;

}