h1 {
    font-size: 50px;
    height: 50px;
    color: rgb(221, 14, 14);
    text-align: center;
}

p {
    text-align: center;
    color: yellow;
    font-size: medium;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    color: brown;
    background-color: chartreuse;


}







.container {
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 75%;
    padding-bottom: 50%;
}